
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.slate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Awesome Website All About Stuff!</h1>
        </header>
        <nav>
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="/Home/Index">Home</a></li>
                <li role="presentation"><a href="/Home/About">About</a></li>
                <li role="presentation"><a href="/Home/Contact">Contact</a></li>
                <li role="presentation"><a href="/MailList/SignUp">Mailing List</a></li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer></footer>
    </div>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</body>
</html>