
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<h4>
    This is a website about stuff. Do you like stuff? I like stuff, especially cool stuff.
</h4>
<br />
<div class="row">
    <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare, est ut cursus aliquam,
            orci dui gravida mauris, eget scelerisque tellus diam vel sapien. Vestibulum id hendrerit velit.
            Proin erat urna, posuere quis blandit eget, auctor vel dui. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Phasellus efficitur luctus lacus eget dictum.
            Vestibulum porta rhoncus augue ut faucibus. Maecenas non viverra odio. Vivamus quis egestas libero,
            nec venenatis risus.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Vivamus ex nulla, tincidunt in egestas in, auctor eget tellus. In dignissim mi neque, sed interdum
            nisl pharetra sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam euismod
            orci in tempus bibendum. Phasellus mattis auctor erat, eu porttitor metus tincidunt eu. Suspendisse
            potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sem arcu, egestas eget
            accumsan non, malesuada a turpis. Phasellus ullamcorper nisi tincidunt dolor aliquam vehicula. Nullam
            auctor purus in dolor rhoncus, in molestie dui sagittis.
        </p>
    </div>
</div>